html
  head
    title="My first three.js app"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='/javascripts/lib/three.js')
    script(src='/javascripts/lib/physi.js')
    script(src='/javascripts/lib/ammo.js')
    script(src='/javascripts/lib/camera.js')
    script(src='/javascripts/lib/camProcess.js')

    script(src='/javascripts/objects/chao.js')
    script(src='/javascripts/objects/cubo.js')

    script(src='/javascripts/build/game.js')
    script(src='/javascripts/build/control.js')
    script(src='/javascripts/build/action.js')
    script(src='/javascripts/build/build.js')
    script(src='/javascripts/build/main.js')